@charset "utf-8";
/* CSS Document */
input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type=send] {
  background-color: #D73A3C;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=send]:hover {
  background-color: #45a049;
}

.container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}

.topnav {
  overflow: hidden;
  background-color: #333;
}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 28px;
  font-family: "Yatra One", system-ui;
  font-weight: 400;
  font-style: normal;
}

.topnav a:hover {
  background-color: #D73A3C;
  color: black;
}

.topnav a.active {
  background-color: #04AA6D;
  color: white;
}

section {
  margin-top: 100px;
  background: palegreen;
  position: relative;
  left: 80px;
}

#hamburgerDiv {
  align-self: center;
}

#hamburgerBtn {
  background-color: white;
  font-size: 32px;
  border: 1px solid;
  border-radius: 4px;
  cursor: pointer;
}

#theLinks {
  background-color: gainsboro;
  display: none;
  text-align: center;
  font-family: "Yatra One", system-ui;
  font-weight: 400;
  font-style: normal;
}

#theLinks a {
  display: block;
  text-decoration: none;
}

div {
  background-color: lightblue;
  font-size: 25px;
  width: 100%;
  height: 50vh;
  font-family: "Yatra One", system-ui;
  font-weight: 400;
  font-style: normal;
}
