@charset "utf-8";
/* CSS Document */

body {
  background-color: #4A917A;
  margin: 0px; 
}

img {
  width: 40%;
  margin: auto;
  display: block;
}

p {
  font-size: 30px;
  font-family: Constantia, "Lucida Bright", "DejaVu Serif", Georgia, "serif";
}

a {
  font-size: 30px;
}

h1 {
  text-align: center;
  font-family: Consolas, "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", Monaco, "Courier New", "monospace";
  background-color: white;
  font-size: 32px;
  color: #ec7274;
}

#mainDiv {
  width: 75%;
  margin: auto;
  background-color: darkseagreen;
  border-style: groove;
  border-width: 20px;
}

#secondDiv {
  width: 80%;
  margin: auto;
  background-color: darkseagreen;
  border-style: ridge;
  border-width: 15px;
}

#thirdDiv {
  width: 85%;
  margin: auto;
  background-color: darkseagreen;
  border-style: ridge;
  border-width: 15px;
}

#mobileNav {
  display: none;
}

@media only screen and (max-width: 768px) {
  #mobileNav {
    display: block;
  }
}

.mobileNavBar {
  background-color: teal;
  position: relative;
  border: 1px solid;
  height: 50px;
  display: flex;
  justify-content: space-between;
}

#hamburgerDiv {
  align-self: center;
}

#hamburgerBtn {
  background-color: white;
  font-size: 32px;
  border: 1px solid;
  border-radius: 4px;
  cursor: pointer;
}

#theLinks {
  background-color: gainsboro;
  display: none;
  text-align: center;
}

#theLinks a {
  display: block;
  text-decoration: none;
}

.mainDiv {
  background-color: darkgoldenrod;
  display: grid;
  height: 50vh;
}

.topnav {
  overflow: hidden;
  background-color: #333;
}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 28px;
  font-family: "Yatra One", system-ui;
  font-weight: 400;
  font-style: normal;
}

.topnav a:hover {
  background-color: #D73A3C;
  color: black;
}

.topnav a.active {
  background-color: #04AA6D;
  color: white;
}

section {
  margin-top: 100px;
  background: palegreen;
  position: relative;
  left: 80px;
}

#mainDiv {
  position: relative;
  left: 0px; 
}

#secondDiv {
  position: relative; 
  right: 0px; 
  bottom: -40px;
}

#thirdDiv {
  position: relative; 
  left: 0px; 
  bottom: -80px;
}

