@charset "utf-8";
/* CSS Document */
<style>
  body {
    background-color: #6d9386;
  }

  img {
    width: 40%;
    margin: auto;
    display: block;
  }

  a {
    font-size: 30px;
  }

  h1 {
    text-align: center;
    font-family: "Great Vibes", Cambria, "Hoefler Text", "Liberation Serif",
      Times, "Times New Roman", "serif";
    background-color: white;
    font-size: 42px;
    color: #ec7274;
  }

  #mainDiv {
    width: 75%;
    margin: auto;
    background-color: darkseagreen;
    border-style: groove;
    border-width: 20px;
  }
</style>
